{% extends 'base.html' %} {% load static i18n %}{% block title %}
{% trans 'Movie' %}: {{ object.title }}{% endblock %} {% block content %}
<div class="mt-md">
  <h3>{{ object.title }}</h3>
  <span class="label label-primary">{{ object.rated }}</span>
  <div class="row">
    <div class="col-sm-12">
      <dl class="dl-horizontal mt-sm">
        <p>{{ object.plot }}</p>
        <div class="mt-sm">
          <p class="no-margin"><b>Director: </b>{{ object.director }}</p>
          <p class="no-margin"><b>Genres: </b>{{ object.genre }}</p>
          <p class="no-margin"><b>Released on: </b>{{ object.released_on }}</p>
        </div>
      </dl>
    </div>
  </div>
</div>
{% endblock %}
