{% extends 'base.html' %} {% load static i18n %} {% block title %}
{% trans 'Movies' %}{% endblock %} {% block content %}
<h3>{% trans 'Movies' %}</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Director</th>
      <th>Year</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for movie in movie_list %}
    <tr>
      <td><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></td>
      <td>{{ movie.genre }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.year }}</td>
      <td><a href="{% url 'movies:update' movie.pk %}">Edit</a></td>
      <td><a href="{% url 'movies:delete' movie.pk %}">Delete</a></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="6"><a href="{% url 'movies:create' %}">Add new movie</a></td>
    </tr>
  </tbody>
</table>
{% endblock content %}
