{% extends 'base.html' %} {% load static i18n %} {% block title %}{% trans
'Movie' %}: {{ movie.title }}{% endblock %} {% block content %}
<h3>{{ movie.title }}</h3>
<div class="row">
  <div class="col-sm-12">
    <dl>
      <dd><strong>Year:</strong> {{ movie.year }}</dd>
      <dd><strong>Rated:</strong> {{ movie.rated }}</dd>
      <dd><strong>Released on:</strong> {{ movie.released_on }}</dd>
      <dd><strong>Genre:</strong> {{ movie.genre }}</dd>
      <dd><strong>Director:</strong> {{ movie.director }}</dd>
      <dd><strong>Plot:</strong> {{ movie.plot }}</dd>
      <dd><strong>Created at:</strong> {{ movie.created_at }}</dd>
      <dd><strong>Updated at:</strong> {{ movie.updated_at }}</dd>
    </dl>
  </div>
</div>
{% endblock %}
