$very-light-color: #999999;
$light-color: #525252;
$mid-color: #414141;
$dark-color: #313131;
$very-dark-color: #212121;
$almost-black: #111111;
$lightc-contrast-color: #cc5e65;
$contrast-color: #CA3E47;
$warning-color: #c9101c;
$white: #fff;
$black: #000;